@font-face {
    font-family: 'Gmarket';
    src: url('../fonts/GmarketSansBold.otf') format('opentype');
}

@font-face {
    font-family: "Pretendard";
    src: url('../fonts/PretendardVariable.woff2') format('woff2');
}
